.contact {
    margin-bottom: rem(80);

    &__form {
        padding: rem(32) 0;
    }
    
    &__label {
        display: block;
        margin-bottom: rem(8);
    }
    
    /* reset */
    &__input {
        display: block;
        background: transparent;
        border: 0;
        border-bottom: rem(2) solid $color-02;
        height: rem(32);
        width: 100%;
        margin-bottom: rem(46);

        &--textarea {
            height: rem(120);
        }
    }

    @include breakpoint(md) {
        .title {
            text-align: center;
        }
        
        .input-md-half {
            width: 48%;
        }

        .input-md-full {
            width: 100%;
        }

        &__form {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__button-container {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: rem(40);
        }

        &__button {
            margin: 0 auto;
        }
        
    }
}