.footer {
    background-color: $color-02;
    padding: rem(32) 0;

    &__link {
        display: block;
        color: $color-01;
        text-decoration: none;
        margin-bottom: rem(8);
    }

    &__contact {
        margin-bottom: rem(32);

        &__link {
            font-family: $font-01;
            font-size: rem(28);
            font-weight: 700;
            color: $color-01;
            text-decoration: none;
        }
    }

}