.hero {
    position: relative;
    margin-top: rem(40);
    margin-bottom: rem(56);
    padding-top: rem(48);

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        margin-top: rem(32);
        padding-top: rem(48);
    }

    @include breakpoint(lg) {
        margin-bottom: rem(80);
    }

    &__title {
        position: relative;
        z-index: 2;
        font-size: rem(36);
        line-height: 1;
        font-weight: 900;

        @include breakpoint(xs) {
            font-size: rem(48);
            font-size: 13vw;
        }

        @include breakpoint(sm) {
            margin-bottom: rem(136);
            font-size: 10vw;
        }

        @include breakpoint(md) {
            width: 60%;
            margin-bottom: 0;
        }

        @include breakpoint(lg) {
            font-size: rem(135);
        }


        &__first {
            display: inline-block;
        }

        &__second {
            position: relative;
            display: inline-block;
            margin-left: 20%;
            color: $color-04;

            @include breakpoint(md) {
                margin-left: 8%;
            }

            &::after {
                content: "";
                position: absolute;
                right: rem(-30);
                bottom: rem(-5);
                width: var(--size);
                height: var(--size);
                min-width: rem(20);
                min-height: rem(20);
                background-color: $color-02;
                border-radius: 100%;
                offset-distance: #{var(--offset)};
                offset-path: path('m0,0c0,0 -66.66798,-63.76937 -127.53874,4.34791c-60.87076,68.11728 -13.04373,107.24849 -11.59443,134.78526c1.4493,27.53677 13.04373,71.01589 -30.43538,72.46519c-43.47912,1.4493 -213.04767,-68.11728 -237.68584,-59.42146c-24.63817,8.69582 -469.57446,17.39165 -321.74546,104.34988c147.829,86.95823 -86.95823,84.05963 -86.95036,83.32909');
                transition: all 0.1s ease-out;
                mix-blend-mode:difference;
            }
        }
    }

    &__picture {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 40%;

        @include breakpoint(md) {
            position: relative;
            right: rem(-20);
        }

        img {
            position: relative;
            z-index: 1;
            width: 100%;
        }

        &__circle {
            position: absolute;
            top: rem(48);
            left: rem(24);
            width: 30%;
            height: 30%;
            border-radius: 100%;
            background-color: $color-02;

            @include breakpoint(sm) {
                width: 55%;
                height: 55%;
            }

            @include breakpoint(md) {
                top: rem(96);
                left: rem(40);
                width: 55%;
                height: 55%;
            }
        }
    }
}
